.placesContainer{
    width: 90%;
    padding: 2rem;
    background-color: #f2f7ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
    margin-bottom: 4rem;
}

.placesheading{
    text-align: center;
    font-weight: 700;
    font-family: serif;
    margin-bottom: 10px;
    
}
.placedata{
    display: flex;
    flex-wrap: wrap;
   align-items: center;
  
  
}
.palceshead{
    padding: 0 2rem;
}

.place1{
    width: 20%;
    font-weight: 700;
    font-size: 15px;
}
  .placedata{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    
  }
  .placedata p{ 
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-size: 13px;
  }
.placeflex{
    display: flex;
    margin: 1rem 0;
}

@media all and (max-width:700px){
  .place1{
    font-size: 14px ;
    width: 30%;
    font-weight: 500;
  }
  .placedata{
    width: 70%;
 
  }
}
@media all and (max-width:400px){
  .place1{
    font-size:15px ;
    width: 30%;
    font-weight: 500;
  }
  .placedata{
    width: 70%;
 
  }
  .palceshead{
    padding: 0;
  }
  .placesContainer{
    width: 90%;
    padding: 1rem;
    background-color: #f2f7ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
    margin-bottom: 4rem;
  }
}

@media all and (max-width:321px){
  .place1{
    font-size: 12px;
    width: 30%;
    font-weight: 500;
  }
  .placedata{
    width: 75%;
  }
  .placedata p{ 
    font-size: 10px;
  }
  .palceshead{
    padding: 0;
  }
  .placesContainer{
    width: 90%;
    padding: 1rem;
    background-color: #f2f7ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
    margin-bottom: 4rem;
  }
}