.placesContainer{
    padding: 2rem ;
}

.placesContainer h2{
    text-align: center;
}

.placesRow{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.mainPlace{
    border-left: 5px solid #7142f8 ;
    border-radius: 10px;
    font-weight: 500;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.dropdown-toggle::after {
    display: none !important; 
  }