.upperNavContainer{
    background-color: #25aae1;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.upperNavLeft{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.upperNavRight a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.tagline{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.upperNavRight{
    width: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 2rem;
}
.upperNavRight div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.uppernavwhats{
    color: white;
    background-color: #25d366;
    border-radius: 50%;
    padding: 0.2rem;
    font-size: x-large;
    cursor: pointer;
}
.uppernavCall{
    color: white;
    font-size: x-large;
    margin: 0.5rem;
    cursor: pointer;
}
@media all and (max-width:1024px){
    .upperNavRight a{
        font-size: 17px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    .uppernavwhats{
        color: white;
        background-color: #25d366;
        border-radius: 50%;
        padding: 0.2rem;
        font-size: x-large;
        cursor: pointer;
    }
    .uppernavCall{
        color: white;
        font-size: large;
        margin: 0.5rem;
        cursor: pointer;
    }
    .upperNavRight{
        width: 40%;
        margin-right: 0;
    }
    .upperNavLeft{
        width: 64%;
    }
}
@media all and (max-width:768px){
    .upperNavRight a{
        font-size: 13px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    .upperNavLeft{
        width: 55%;
    }
    .upperNavRight{
        width: 45%;
        gap: 0;
    }
}
@media all and (max-width:530px){
    .tagline{
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
    .upperNavContainer{
        flex-direction: column;
        padding-top: 0.5rem;
    }
    
    .upperNavLeft{
        width: 100%;
    }
    .upperNavRight{
        width: 100%;
        gap: 1rem;
    }
    .upperNavContainer a{
        font-size: 18px;
        font-weight: bold;
    }
}
@media all and (max-width:400px){
    
    .upperNavRight{
        gap: 10px;
    }
    .upperNavContainer a{
        font-size: 15px;
    }
    .upperNavContainer h5{
        font-size: 15px;
    }
}
@media all and (max-width:321px){
    .upperNavLeft{
        width: 100%;
    }
    .upperNavRight{
        width: 100%;
        gap: 0.5rem;
        
    }
    .upperNavContainer a{
        font-size: 13px;
        font-weight: bold;
    }
}
.socialIcons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


@media all and (max-width:450px){
    
    .socialIcons{
        gap: 0;
    }
    .fb{
        font-size: x-large;
    }
    .twitter{
        font-size: x-large;
    }
    .gmail{
        font-size: x-large;
    }
}


.circle1, .circle2{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #25d366;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    animation: anime 2s linear infinite;
}

@keyframes anime{
    0%{
        transform: scale(1);
        background-color: rgba(179, 154, 255, 1);
    }
    100%{
        transform: scale(2);
        background-color: rgba(179, 154, 255, 0);
    }
}

.maincontact{
    width: 3rem;
    height: 3rem;
    position: fixed;
    text-align: center;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    padding: 2px;
    background-color: #7142f8;
    z-index: 9999;
    cursor: pointer;
}
.mainwhatsap{
    width: 3rem;
    height: 3rem;
    position: fixed;
    text-align: center;
    bottom: 6rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    padding: 10px;
    background-color: #25d366;
    z-index: 9999;
    cursor: pointer;
}
.mainwhatsap:hover{
    color: #7142f8;
}
.maincall{
    width: 3rem;
    height: 3rem;
    position: fixed;
    text-align: center;
    bottom: 10rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    padding: 12px;
    background-color: #25d366;
    z-index: 9999;
    cursor: pointer;
}
.maincall:hover{
    color: #7142f8;
}


@media all and (max-width:700px){
    .circle1, .circle2{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #25d366;
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        animation: anime 2s linear infinite;
    }
    .maincontact{
        width: 2.5rem;
        height: 2.5rem;
        padding: 2px; 
        bottom: 2rem;
        right: 1rem;
    }
    .mainwhatsap{
        width: 2.5rem;
        height: 2.5rem;
        padding: 8px; 
        bottom: 5rem;
        right: 1rem;
    }
    .maincall{
        width: 2.5rem;
        height: 2.5rem;
        padding: 8px; 
        bottom: 8rem;
        right: 1rem;
    }
}