.searchmain{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #ecfffd;
}
.searchfilter{
  width: 20rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  position: sticky;
  top: 10px;

}
.searchfilter1{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.searchfilter1 p{
  font-weight: 600;
  font-size: small;
  margin-bottom: 0;
}
.searchfilter1 h3{
  font-weight: 700;
  font-size: large;
  margin-bottom: 0;

}
.searchfilter2 h6{
  font-size: medium;
  font-weight: 600;
}
.searchfilter2 input{
  font-size: medium;
  font-weight: 600;
  margin-left: 1.5rem;
}
.searchfilter2 label{
  font-size: small;
  font-weight: 500;
  margin-left: 15px;
}

.search1row{
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  gap: 5rem;
  padding: 1.5rem;
  background-color: white;
  margin: 1rem 1rem;
  padding-bottom: 0.5rem;
}
.search1row1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.star{
  fill: #54e8c3;
}
.star1{
  fill: #e3dbfd;
}


.search1ndcol img{
  width: 7rem;
}
.search1ndcol p{
  font-weight: 700;
  color: #131c44;
  font-size: x-large; 
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.search1ndcol{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.ac p{
  font-size: small;
  font-weight: 600;
  color: #7142f8;
}
.ac{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.search2ndcol h5{
  text-align: left;
  font-weight: 600;
  font-size: medium;
}
.search2ndcol h6{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    color: rgb(100, 93, 93);
}
.search2ndcol li{
  font-size: small;
  font-weight: 600;
  margin-top: 10px;
  padding: 0;
  margin: 0;
  color: rgb(100, 93, 93);
}
.searchsefty p{
    border: 1px solid green;
    background-color: rgba(0, 225, 0, 0.5);
    font-size: small;
    font-weight: 400;
    color: black;
}
.search3rdcol{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.search3rdcol h6{
  font-size: medium;
  font-weight: 600;
  margin-bottom: 2px;
  
  
}
.search3rdcol p{
  font-size: 12px;
  font-weight: 600;
  color: rgb(114, 106, 106);
  margin: 0;
  margin-left: 19px;
}
.search7rdcol{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.search7rdcol h6{
  font-size: medium;
  font-weight: 600;
  margin-bottom: 2px;
  
  
}
.search7rdcol p{
  font-size: 12px;
  font-weight: 600;
  color: rgb(114, 106, 106);
  margin: 0;
  margin-left: 19px;
}

.search4rtcol{
  border-left: 0.5px solid gray;
  padding-left:1rem ;
}
.search4rtcol h6{
  font-size: small;
  font-weight:700 ;
  color:black;
  margin-top: 30px;
  padding: 0;
  margin: 0;
}
del{
  text-decoration: line-through red;

}
.search4rtcol p{
  color: green;
  font-size: small;
  font-weight:600 ;
  padding: 0;
}

.search4rtcol h4 {
  font-size:  xx-large;
  color:#000000;
  font-weight: 600;
}



.search4rtcol button{
  color: white;
  background-color: #7142f8;
  border: none;
  border-radius: 7px;
  font-size: small;
  font-weight: 700;
  padding: 0px 8px;
  margin-top: 15px;
  height: 30px;
}
 .search4rtcol button:hover{
  color: black;
  background-color: gold;
}
.cabsearchmore{
  cursor: pointer;
  float: right;
  font-size: small;
  font-weight: 700;
  display: none;
}
.filterDropdown{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: none;
}



@media all and (max-width:700px){
  .search7rdcol{
    display: none;
  }
  .cabsearchmore{
    float: right;
    font-size: small;
    font-weight: 700;
    display: block;
  }
  .search1row{
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }
 
  .search4rtcol{
    border-left: 0;
  }
  .searchfilter{
    display: none;
  }
  /* .search3rdcol{
    display: none;
  } */
  .search4rtcolinner{
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .search4rtcol h4 {
    font-size: 23px;
    color: #7142f8;
    font-weight: 600;
    text-shadow: none;

  }
  .search4rtcol h6{
    font-weight:500 ;
  }
  
.filterDropdown{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dropdown-toggle{
  color: #7142f8;
  font-weight: 700;
}
.search2ndcol h6{
  display: none;
}
.search2ndcol li{
  display: none;
}

.search4rtcol{
  display: flex;
align-items: flex-end;
    gap: 5rem;
}
.ac{
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.ac p{
  margin-bottom: 0;
}
.search2ndcol h5 {
  font-size: 15px;
}
.search4rtcol button{
  padding: 2px;
  margin: 0;
  height: 30px;
  width: 90px;
  margin-bottom: 8px;
}
}

@media all and (max-width:365px){
  .filterDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .dropdown-toggle {
    color: #7142f8;
    font-weight: 500;
    font-size: 13px;
}
.search1row {
  padding: 1rem 5px;
  margin: 1rem;
}
.search1ndcol img {
  width: 6rem;
}
.search1ndcol p {
  font-size: 18px;
}
.search2ndcol h5 {
  font-size: 13px;
}
.ac p{
  font-size: 10px;
}
.search4rtcol h4 {
  font-size: 18px;
}
.search4rtcol h6 {
  font-size: 12px;
}
.search4rtcol p {
  font-size: 10px;
}
.search4rtcol button {
  padding: 0px 7px;
  height: 24px;
  width: 94px;
  margin-bottom: 8px;
  font-size: 10px;
}
.star{
  font-size: 12px;
}
.star1{
  font-size: 12px;
}
}