
  .cabSearch2{
    width: 100%;
    background: #e9e2ff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 10rem;
  }
  
  .radioInputCol2{
    margin: 0 5px;
  }
.cabSearch2Inner{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 8px;
}
.cabSearch2btn{  
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #7142ff;
    border: 0;
    font-weight: 600;
    color: white;
    margin: 0 10px;
    margin-bottom: 8px;
  }
  
  .css-13cymwt-control{   
    font-size: 15px;
  }

  .cabSearch2Inner label{
    font-size: 15px;
    font-weight: 600;
  }
  .cabSearch2Inner .css-13cymwt-control{
    border-radius: 5px !important;
    border: 1px solid black !important;
    background-color: white !important;
    font-size: 15px !important;
    font-weight: 600;
}
.cabSearch2Inner .react-datepicker__input-container {
  font-size: 15px;
    font-weight: 600;
}
.cabSearch2Inner .react-datepicker-wrapper {
  display: flex;
  padding: 0;
  border: 0;
  width: 230px;
}
.cabSearch2Inner .react-datepicker__input-container input{
    width: 230px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 6px 5px;
    font-size: 15px;
    font-weight: 600;
}

