.star{
  fill: #54e8c3;
  font-size: 1rem;
}
.star1{
  fill: #e3dbfd;
  font-size: 1rem;
}
.transfermain{
  position: sticky !important;
  top: 10px;
  right: 0px;
}
.transfer0{
    background-color: #EBF8F4;
    padding: 5% 4%;
}
.transfer2{
    margin: 0% 1% 2% 1%;
    padding: 5% 2% 2% 2%;
    background-color: white;
    border-radius: 0 0 7px 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.transfer5{
  background-color:#F8F8F8;
  margin: 0% 1% 0% 1%;
  padding: 0% 1% 0% 1%;
  border-radius: 7px 7px 0 0;
  
}
.transfer5 h3{
    font-size: 120%; 
    display: flex;
    color: rgb(123, 117, 117);
    align-items: center;
    text-align: left;
    font-weight: 600;
    margin: 2% 0 2% 4%;
}
.transfer5 span{
    font-size: 200%;
    margin-right:3%;
    color: black;
  
}

.transfer-price p{
    font-size:medium;
    text-align: left;
    padding-bottom:0;
    font-weight:600 ;
    margin-left: 2rem;
}

.transfer-price input{
    margin-right: 10%;
}
.transfer-price button{
    width: 153px;
    height: 35px;
    margin: auto;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 5%;
    background-color: #7142f8;
}
.transfer-viewd1{
    color: #7142f8;
}

.transferAc{
  display: flex;
  gap: 1.5rem;
}
.transferAc div{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 15px;
  color: #7142f8;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */


.transfer-sel1{
    background-color: white;
    border-radius: 10px 10px 10px 10px ;
    padding: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* .transfer-details-title1{
  background-color:#F8F8F8;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 7px 7px 0 0;
}
.transfer-details-title1 h2{
    color: gray;
    font-size: 140%;
    font-weight: 600;
    text-align: left;
} */
.transfer-details{
    padding: 1%;
}

.transfer-details-img img{
    width: 10rem;
    border-radius: 5px;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
}
.transfer-details3 h3{
    font-size: 18px;
    font-weight: 600;
}
.transfer-details3 p{
    font-size: 90%;
    color: #7142f8;
    padding: 0;
    font-weight: 600;
    text-align:left;
    margin-bottom: 0;
}
.transfer-details3 span{
    font-size: 120%;
    color: black;
    margin-right: 1%;
}
.transfer-details4 p{
    color: black;
    font-size: medium;
    font-weight: 500;
    font-size: 15px;
    padding: 0;
    margin-left: 1rem;
    margin-bottom: 0;
}
.transfer-details4 span{
    font-size: 85%;
    font-weight:700;
    padding-left: 0;
    padding-top: 0.5rem;
    margin-left: 1rem;

}
.transfer-details4 input{
    border: none;
    margin-left: 40px;
    border-bottom: 1px solid black;
    font-weight: 500;
    width: 70%;
    padding-left: 0;
    color: black;
    font-size: 15px;
}
.transfer-details4-arow{
    font-size: 150%;
    margin-top: 2%;
    font-weight: 700;
    color: #7142f8;
}

.transfer-viewd{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.transfer-viewd button{
    border: none;
    color: #7142f8;
    font-size: 150%;
    font-size: 75%;
    font-weight: 700;
    background-color: white;
}
.transfer-viewd span{
  font-size: 130%;
  
}




/* --------------------------------------------------------------------------------------------------------------------------- */


.transfer-inclusion0{
    display: flex;
    gap: 4rem;
    width: 100%;
}

.transfer-inclusion h5{
  font-size: 16px;
}
.transfer-exclusion h5{
  font-size: 16px;
}
.transfer-inclusion-mark{
  font-size: 20px;
  color: green;
  margin-right: 0.5rem;
}
.transfer-exclusion-mark{
  font-size: 20px;
  color: red;
  margin-right: 0.5rem;
}
.inclusion-data{
  font-size: 12px;
  margin-left: 28px;
}
.exclusion-data{
  font-size: 12px;
  margin-left: 28px;
}


/*----------------------------#---------------------#------------$-------------------------%----------------*/


.transferSpec{
  background-color:white;
  margin: 1rem;
}
.transferSpec h5{
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.transferSpeccol1 p{
  font-size: small;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
.transferSpeccol1 span{
  color: #7142f8;
  font-size: 1rem;
  margin-right: 10px;
}


/* ----------------------------#---------------------#------------$-------------------------%---------------- */

.transfer-cancellation-title p{
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0;
  color: black;
}

.transfer-cancellation-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius:  7px 7px 0 0;
}
.transfer-cancellation-title-icon{
  border: 2px solid black;
  border-radius: 7px;
  padding: 0.3%;
  font-size: 150%;
  
  cursor: pointer;
}
.transfer-cancellation-title0{
  padding: 1% 0;
    margin-top: 1.5%;
    
}
.cabDetailsinner{
  background-color: white;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  padding: 1rem;
  border-radius: 0 0 7px 7px;
}
.cabDetailsinnerTitle h5{
  font-size: 15px;
}
.cabDetailsinnerdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.cabDetailsinnerdiv img{
  width: 12rem;
  height: 8rem;
  border-radius: 10px;
}

@media all and (max-width:1025px){
  .cabDetailsinnerdiv img{
    width: 10rem;
    height: 8rem;
    border-radius: 10px;
  }
  
}
@media all and (max-width:768px){
  .cabDetailsinnerdiv{
    flex-direction: column;
    gap: 3rem;
  }
}


/* ----------------------------------------------------------------------- */


.transfer-travellar{
  background-color: white;
  border-radius:0 0 7px 7px;
  padding: 10px 10px 0 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}
.transfer-travellar-title {
  background-color: #F8F8F8;
  border-radius: 7px 7px 0 0;
  margin-top: 1%;
  padding-top: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.transfer-travellar-title h3{
  font-size: 140%;
  color: gray;
  font-weight: 500;
  text-align: left;
  margin: 0 0 2% 0;
    
}


.transfer-travellar-drop label{
  text-align: left;
    font-size: 80%;
    font-weight: 600;
    margin: 5px 12px;
  }
  .transfer-travellar-pick label{
    text-align: left;
    font-size: 80%;
    font-weight: 600;
    margin: 5px 12px;
  }
  .transfer-travellar-pick input{
    text-align: left;
    font-size: 80%;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    margin: 0.5% 3%;
    width: 320px;
  }
  .transfer-travellar-drop input{
    text-align: left;
    font-size: 80%;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    margin: 0.5% 3%;
    width: 320px;
  }
  .transfer-travellar-name label{
    text-align: left;
    font-size: 80%;
    font-weight: 600;
    margin: 0.5% 3%;
  }
  .transfer-travellar-name input{
    width: 80%;
    margin: 1% 1% 1% 6%;
    border: none;
    border-bottom: 1px solid black;
    
  }
  .transfer-travellar-email label{
    text-align: left;
    font-size: 80%;
    font-weight: 600;
    margin: 0.5% 3%;
  }
  .transfer-travellar-email input{
    width: 80%;
    margin: 1% 1% 1% 6%;
    border: none;
    border-bottom: 1px solid black;
    
  }
  .transfer-travellar-mob label{
    text-align: left;
    font-size: 80%;
    font-weight: 600;
    margin: 0.5% 3%;
  }
  .transfer-travellar-mob input{
    width: 80%;
    margin: 1% 1% 1% 6%;
    border: none;
    border-bottom: 1px solid black;
    

  }
  .transfer-travellar-gender label{
    text-align: left;
    font-size: 80%;
    font-weight: 600;
    margin: 0.5% 3%;
  }
  .transfer-travellar-gender input{
    width: 80%;
    margin: 1% 1% 1% 6%;
    border: none;
    border-bottom: 1px solid black;
  }
  .transfer-travellar-gender div{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1% 1% 1% 6%;
    gap: 10%;
  }
  .transfer-travellar-gender span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 1%;
  }
  .transfer-travellar-terms{
    
    font-size: 15px;
    font-weight: 600;
    color: gray;
    margin: 20px 0;
  }
  .transfer-travellar-terms span{
    font-size: 15px;
    font-weight: 600;
    color: rgb(3, 181, 252);
  }
  .transfer-travellar-terms div{
    display: flex;
    gap: 1rem;
  }
  
  
  /* ------------------------------------*------------------------------------- */
  
  .confirm-booking-title{
    font-size: 150%;
  }
  .confirm-booking-modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contained-modal-title-vcenter{
    text-align: center;
  }
  .confirm-booking-modal-body button{
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 110%;
    padding: 1% 5%;
    
    
  }
  .confirm-booking-body1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .confirm-booking-body1 p{
    color: gray;
    font-size: 95%;
    padding: 0;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.confirm-booking-body1 span{
  font-size: 85%;
  font-weight: 600;
}
.confirm-booking-body1 input{
  border: none;
  border-bottom: 2px solid black;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.confirm-booking-arrow{
  font-size: 150%;
  margin-top: 2%;
}
.confirm-booking-body2 p{
  color: gray;
  font-size: 95%;
  margin-bottom: 0;
  font-weight: 600;  
  text-align: center;
}
.confirm-booking-body2 span{
  border: none;
  border-bottom: 2px solid black;
  font-weight: 600;
  font-size: 90%;
  text-align: center;
}
.confirm-booking-body2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0 1% 0;
}
.confirm-booking-body3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0;
}
.confirm-booking-body3 p{
  color: gray;
  font-size: 95%;
  margin-bottom: 0; 
  font-weight: 600; 
  text-align: center;
}
.confirm-booking-body3 input{
  border: 2px dashed gray;
  width: 25%;
  border-radius: 5px;
  width: 100%;
}

@media all and (max-width:700px){
  .transfer-inclusion0{
    flex-direction: column;
    gap: 1rem;
  }
  .transfer-inclusion h5{
    font-size: 14px;
  }
  .transfer-exclusion h5{
    font-size: 14px;
  }
  .transfer-details3 h3{
    font-size: 16px;
    font-weight: 600;
  }
  .transferAc div{
    font-size: 15px;
    font-weight: 500;
  }
  .transfer-details4-arow {
    display: none;
}
}

@media all and (max-width:300px){
  .transferAc{
    display: flex;
    gap: 1rem;
  }
  .transferAc div{
    font-size: 13px;
  }
}
.cabImages p{
  font-weight: 600;
  
}
.carImages h6{
  font-size: small;
  margin-top: 10px;
}
.cabmodulehead{
 padding: 1px 20px 1px 20px;
 font-size: 10px;
 
}
.cabmoduleheadtitle{
  font-size: 20px;
  color:black;

}